body { 
	background: url(../images/coaxial-bg.png) center 0; 
	background-size: 100%;
	margin: 0; padding: 0; 
	font-family: "Lato", Helvetica, sans-serif;
	font-size: 16px;
	min-width: 860px;
}

header { 
	top: 0; left: 0; right: 0;
	height: 59px;
	z-index: 100;
	background-color: #333;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
}

header > nav {
	display: block;
	margin: 0 20px;
}

header > nav > ul {
	float: right; text-align: right;
	margin: 0; padding: 0;
}
header > nav > ul > li {
	display: inline-block;  
	font-size: 18px; font-family: 'Oswald', sans-serif; 
	list-style-type: none; 
}
header > nav > ul a {
	color: #ddd; text-decoration: none; text-transform: uppercase;
	margin-left: 20px;line-height: 59px;
	transition: color 0.4s;
}

header > nav > ul a:hover {
	color: #e74c3c;
}

#logo > img { height: 30px; margin-top: 15px;  }
#arrow { position: absolute; bottom: 20px; left: 50%; margin-left: -52px; }

h1, h2, h3, h4, blockquote {
	font-family: 'Oswald', sans-serif; 
	margin: 0; color: #eee;
	letter-spacing: -1px; 
	text-transform: uppercase;
}

blockquote {
	background-color: #333;
	background-color: rgba(0,0,0,0.3);
	font-size: 40px;
	padding: 40px 0; text-align: center;
}

h1 {
	font-size: 40px;
	text-align: center;
	background: none;
	color: #eee;
	padding: 40px 0;
}

h2 { 
	font-size: 40px;
	color: #E74C3C;
	font-weight: 400; margin-bottom: 10px;
	text-shadow: rgba(0,0,0,0.4) 0 2px 2px;
}
h3 { 
	font-size: 30px;
	color: #e80; 
	font-weight: 400; margin-bottom: 10px;
}

h4 {
	font-size: 20px;
	color: #eee; font-weight: normal;
	letter-spacing: 0;
	text-shadow: rgba(0,0,0,0.9) 0 2px 2px;
}

#content > section { 
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	color: #000;
	display: block; position: relative;
	background-position: center 0;
	background-size: auto 100%;
}


#content > section > div { 
	position: absolute; left: 0; bottom: 0; right: 0; top: 199px;
	padding: 40px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fcfcfc;
}

#content a[name] {
	font-size: 0; height: 59px; display: block;
}

.center {
	position: absolute; top: 50%; left: 50%;
	height: 430px; padding: 10px;
	width: 860px; margin: -225px 0 0 -440px;
}

.bgbox { 
	background-color: rgba(0,0,0,0.6);
	color: #eee;
	padding: 20px;
}

#content .bg1 { 
	background-image: url(../images/bg-1.jpg) !important;
	background-repeat: no-repeat;
	background-color: #eee;
}

@media screen and (min-width: 1280px) {
	
	#content .bg1 {
		background-size: 100% 100%;
	}
}

#content .bg2 {
	background-image: url(../images/bg-2.jpg);
	background-repeat: no-repeat;
	background-color: #eee;
}

#content .bg3 { 
	background-image: url(../images/bg-3.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #eee;
}

#content .bg4 { 
	background-image: url(../images/bg-4.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #eee;
}

.home {
	background-image: url(../images/bg-2.jpg);
	background-repeat: no-repeat;
}

#content > section.home > div {
	background: none;
	padding: 0; top: 50%;
	margin-top: -225px;
}

.home > div > div { width: 860px; margin: 0 auto; }

#news { list-style: none; padding: 0; }

.column { 
	float: left; min-height: 333px; width: 33%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; padding: 0 10px; text-align: center;
}
.column2 { float: left; width: 520px; margin: 0 5px;  }
.column3 { float: left; width: 420px; margin: 0 5px; }

.column3 img { width: 100%; }

.clear { clear: both; }

.column > img { height: 170px; margin-top: 20px;}

.portfolio img { float: left; margin-right: 10px;}
.portfolio p { padding-right: 10px; }

.social { padding: 0; }
.social li { list-style-type: none; }
.social img { width: 48px; height: 48px; }

footer { 
	height: 300px; padding-top: 20px; color: #aaa; font-size: 14px;
}
footer > ul { width: 766px; margin: 0 auto; padding: 0; display: block; height: 120px; }
footer > ul > li  {
	font-family: 'Oswald', sans-serif; font-size: 12px; color: #aaa; display: block; float: left;
	text-transform: uppercase; margin: 20px;
}
footer a { color: #aaa; text-decoration: none; }
footer a:hover { text-decoration: underline; }

footer > ul > li > ul { 
	list-style: none; padding: 0; margin-top: 10px; font-family: 'Arial', Helvetica, sans-serif; font-size: 10px;
}

#copyright { text-align: center; clear: both; width: 766px; margin: 10px auto; }

/**
 * SLIDE JS
 ***************/
#slides {
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:3px;
    }

    #slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    #slides .slidesjs-next {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }