body { 
	background: url(../images/coaxial-bg.png) center 0; 
	background-size: 100%;
	margin: 0; padding: 0; 
	font-family: "Arial", Helvetica, sans-serif; font-size:14px;
}

h2, h3, h4 { margin: 0; padding: 0; }

header { 
	top: 0; left: 0; right: 0;
	height: 59px;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
}

header > nav {
	display: block;
	margin: 0 20px;
}

header > nav > ul {
	float: right; text-align: right;
	margin: 0; padding: 0;
}
header > nav > ul > li {
	display: inline-block;  
	font-size: 18px; font-family: 'Oswald', sans-serif; 
	list-style-type: none; 
}
header > nav > ul a {
	color: #ddd; text-decoration: none; text-transform: uppercase;
	margin-left: 20px;line-height: 59px;
}
header > nav a:hover { color: #f90; }
header > nav > ul > li > ul { 
	position: absolute; display: none; background: #eee;
	list-style-type: none; padding: 15px; margin: 0;
	text-align: left; border: 1px solid #333;
	opacity: 0; transition: opacity 1s;
}
header > nav > ul > li > ul > li > a { 
	line-height: 32px; color: #333; margin: 0;
}
header > nav > ul > li:hover > ul { display: block; opacity: 1; }

#logo > img { height: 30px; margin-top: 15px;  }
#logo { font-size: 35px; text-decoration: none; line-height: 60px; color: #eee; }

#content { margin: 0 auto; color: #111; }
#arrow { position: absolute; bottom: 40px; left: 50%; margin-left: -52px; }

h2 { 
	font-family: 'Oswald', sans-serif; font-size: 40px;
	text-transform: uppercase; color: #E74C3C;
	letter-spacing: -1px; font-weight: 400; margin-bottom: 10px;
	text-shadow: rgba(0,0,0,0.4) 0 2px 2px;
}
h3 { 
	font-family: 'Oswald', sans-serif; font-size: 30px;
	text-transform: uppercase; color: #e80; 
	letter-spacing: -1px; font-weight: 400; margin-bottom: 10px;
}

h4 {
	font-family: 'Oswald', sans-serif; font-size: 20px;
	color: #BDC3C7; text-transform: uppercase; font-weight: normal;
}

#content > section { 
	padding-top: 59px; padding-bottom: 59px; 
	box-sizing: border-box; display: block; position: relative;
	color: #eee; 
}

#content > section:nth-child(odd) { 
	box-shadow: 0 30px 80px black inset;
	background: none;
}

#content > section > div { 
	width: 860px; height: 440px; position: absolute;
	left: 50%; top: 50%; margin: -220px 0 0 -430px;
	background-color: rgba(255,255,255,0.05);
	padding: 20px;
	box-sizing: border-box;
}
#content > section a[name] { margin-top: -59px; height: 0; display: block; }

section.bg1 { 
	background: url(images/bg-1.jpg) center 0;
	background-size: 100%;
}

#news { list-style: none; padding: 0; }

.column { 
	float: left; min-height: 333px; width: 33%;
	box-sizing: border-box; padding: 0 10px; text-align: center;
}
.column2 { float: left; width: 490px; margin: 0 5px;  }
.clear { clear: both; }

.column > img { margin: 30px 0 0 0; height: 128px;}

.portfolio { padding: 0; margin: 20px 0 0 0; }
.portfolio li {
	list-style-type: none; padding: 0; margin: 8px 15px; display: inline-block;
}
.portfolio img {
	width: 240px; height: 150px; border-radius: 8px;
}

.social { padding: 0; }
.social li { list-style-type: none; }

footer { 
	height: 300px; padding-top: 20px; color: #aaa; font-size: 14px;
	box-shadow: 0 30px 80px black inset;
}
footer > ul { width: 766px; margin: 0 auto; padding: 0; display: block; height: 120px; }
footer > ul > li  {
	font-family: 'Oswald', sans-serif; font-size: 12px; color: #aaa; display: block; float: left;
	text-transform: uppercase; margin: 20px;
}
footer a { color: #aaa; text-decoration: none; }
footer a:hover { text-decoration: underline; }

footer > ul > li > ul { 
	list-style: none; padding: 0; margin-top: 10px; font-family: 'Arial', Helvetica, sans-serif; font-size: 10px;
}

#copyright { text-align: center; clear: both; width: 766px; margin: 10px auto; }
